{% extends 'blog/base.html' %}
{% block content%}

{% if user.is_authenticated %}
<div class="col-12">
    <a class="btn btn-success" href="{% url 'blog:blog_create' %}">Добавить запись</a>
</div>
{% endif%}
<div class="row">
    {% for object in object_list %}

    <div class="col-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <p>{{ object.title | title }}</p>
                <p>{{ object.content | truncatechars:100}}</p>
                <div class="btn-group">



                </div>


    <div class="col-lg-4">
                <div class="text-center">
            <img src="/media/{{ object.image }}" width="300" height="300" class="rounded" alt="Card image cap">
        </div>

        <h2> {{object.title}}</h2>
        <p> {{object.content|slice:300}}</p>

        {% if object.is_subscription and not user.is_subscription %}
          <a href="{% url 'users:subscription_create' %}" type="button"
                       class="btn btn-success">Подписка</a>
        {% else %}



        {% endif %}

    </div>
    {% endfor %}

</div>

{% endblock%}

