{% extends 'blog/base.html' %}
{% block content %}

<div class="album py-4 bg-body-tertiary text-center">
    <h1>Платформа для публикации записей пользователями</h1>
</div>
<div class="album py-4 bg-body-tertiary text-center">
    <h4>Количество публикаций: {{ publish_blog_count }}</h4>
</div>
<div class="album py-4 bg-body-tertiary text-center">
    <h4>Количество пользователей: {{ users_count }}</h4>
</div>
<div class="container">
    <div class="row">
        {% for object in object_list %}
        <div class="col-lg-4 col-md-3 col-sm-3 col-xs-6">
            <div class="card shadow-sm">
                <div class="text-center">
                    <img src="/media/{{ object.image }}" class="rounded" alt="preview" width="300" height="300">
                </div>
                <p class="text-center fw-bold">
                    {{ object.title | title }}
                </p>
                <div class="card-body">
                    <p class="text-center">{{ object.content | truncatechars:100}}</p>
                    <p class="text-end"></p>

                    {% if user.is_authenticated and object.is_subscription and not user.is_subscription and not object.owner == user %}
                    <a href="{% url 'users:create_subscription' %}" type="button"
                       class="btn btn-success">Подписка</a>
                    {% endif %}
                    {% if object.is_subscription and user.is_subscription or object.owner == user %}
                    <p>
                        <a href="{% url 'blog:blog_detail' object.pk %}" type="button"
                           class="btn btn-success">Узнать больше &raquo;</a>
                    </p>
                    {% endif %}
                    {% if object.owner == user %}
                    <a href="{% url 'blog:blog_update' object.pk %}" type="button"
                       class="btn btn-success">Редактировать</a>
                    <a href="{% url 'blog:blog_delete' object.pk %}" type="button"
                       class="btn btn-danger">Удалить</a>
                    {% endif %}


                </div>

            </div>

        </div>
        {% endfor %}
        <div class="album py-4 bg-body-tertiary text-center">
    <h1>Для получения полного доступа к сайту, зарегистрируйтесь</h1>
</div>

    </div>
</div>

{% endblock %}